<h1>Hello, ask anything you want</h1>

<form action="/answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>

<h2> Hello there, it is currently ==> <%= Time.now%> </h2>
